.input {
	-webkit-appearance: none;
	appearance: none;
	font: inherit;
	color: currentColor;
	width: 15px;
	height: 15px;
	border: 0.15em solid currentColor;
	border-radius: 0.15em;
	transform: translateY(-0.075em);
	display: grid;
	place-content: center;
	cursor: pointer;
}

.input::before {
	content: '';
	width: 11px;
	height: 11px;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em var(--accent-color);
}

.input:checked::before {
	transform: scale(1);
}

.container {
	display: flex;
	gap: 10px;
	align-items: center;
	margin-top: 5px;
}

.name {
	cursor: pointer;
}
