.link {
	color: var(--bg-light);
	text-decoration: none;
	transition: color 0.05s ease-in;

	&.active {
		color: var(--accent-color);
		&:hover {
			color: var(--accent-color);
		}
	}

	&:hover {
		color: color-mix(in srgb, var(--bg-light) 50%, var(--accent-color) 50%);
	}
}
