.menu {
	display: flex;
	gap: 20px;
}

.favCount {
	position: absolute;
	top: 7px;
	right: -7px;
	background: var(--accent-color);
	width: 17px;
	height: 17px;
	border-radius: 50%;
	font-size: 14px;
	text-align: center;
	color: black;
}
