:root {
	--bg-dark: #161a1e;
	--bg-light: #9a9a9a;
	--accent-color: #e58e27;
	--text-color: #fbfbfb;

	background-color: var(--bg-dark);
	color: var(--bg-light);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	width: 100%;
	display: block;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
}

.icon {
	font-size: 20px;
}
